.achievements {
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $mobile-width) {
    min-height: 605px;
    margin: 0;
    border: none;
    padding: 0;
    background-color: $light-bg;
  }

  @media (min-width: $tablet-width) {
    min-height: 555px;
    order: 3;
    background-color: $white;
    border: 2px solid $light;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    min-height: 240px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    background-color: $white;
    border: 2px solid $light;
    border-radius: 1px;
  }
}

.achievements__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $mobile-width) {
    min-height: 450px;
    width: 90%;
    top: 4.5em;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-evenly;
    min-height: 535px;
    width: 85%;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 230px;
  }
}

.achievements__heading {
  position: relative;
  width: 70%;

  @media (min-width: $mobile-width) {
    top: 3.5em;
    text-align: center;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
  }
}

.achievements__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-basis: 33%;
  }
}

.achievements__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.achievements__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.achievements__checkbox + label::before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $grey;
  border-radius: 0.1em;
  margin-right: 1.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.achievements__checkbox:checked + label::before {
  border-color: $grey;
  background-color: $white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 16' %3e%3cpath fill='%23d22856'  d='M21.7001 0.284331C21.5105 0.102082 21.2557 0 20.9903 0C20.7249 0 20.47 0.102082 20.2805 0.284331L6.70324 13.6028L1.73472 8.72901C1.64045 8.63578 1.52831 8.56178 1.40474 8.51128C1.28118 8.46079 1.14865 8.43479 1.01479 8.43479C0.88093 8.43479 0.748397 8.46079 0.624833 8.51128C0.50127 8.56178 0.389122 8.63578 0.294859 8.72901C0.106004 8.91537 0 9.16747 0 9.43024C0 9.69302 0.106004 9.94512 0.294859 10.1315L5.98331 15.7115C6.07806 15.8037 6.19042 15.8767 6.31396 15.9262C6.4375 15.9756 6.56979 16.0007 6.70324 16C6.96925 15.9989 7.22416 15.8953 7.41303 15.7115L21.7001 1.69675C21.7951 1.60428 21.8705 1.49427 21.922 1.37306C21.9735 1.25186 22 1.12185 22 0.990541C22 0.859234 21.9735 0.729226 21.922 0.608017C21.8705 0.486809 21.7951 0.376798 21.7001 0.284331Z'/%3e%3c/svg%3e");
}

.achievements__checkbox:not(:disabled):not(:checked)+label:hover::before {
  background-color: $white;
  border-color: $dark;
}

.achievements__checkbox:not(:disabled):active+label::before {
  background-color: $white;
  border: 2px solid $pink;
}

.achievements__item:first-child {

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.achievements__item:nth-child(2n) {

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.achievements__item:nth-child(3n+3) {

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.achievements__item:nth-child(4n+4) {

  @media (min-width: $desktop-width) {
    order: 4;
  }
}

.achievements__item:nth-child(5n+5) {

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.achievements__item:last-child {

  @media (min-width: $desktop-width) {
    order: 5;
  }
}
