.copyright {

  @media (min-width: $mobile-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-bottom: 0.9em;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10em;
  }
}

.copyright__text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__svg-icon {
  fill: $pink;
}

.copyright__svg-icon:hover {
  fill: $dark;
}

.copyright__svg-icon:active {
  fill: transparentize($dark, 0.7);
}
