.download-app {
  position: relative;
  z-index: 1;
  background-color: $dark-blue;

  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 663px;
    background-color: $dark;
    background-image: url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-mobile@1x.jpg");
    background-position: 0% 28.5%, 0% -34%;
    background-repeat: no-repeat, no-repeat;
    background-size:  auto auto,
      100% 462px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png"),
        url("../img/bg-back-mobile@2x.jpg");
      background-position: 0% 28.5%, 0% -34%;
      background-repeat: no-repeat, no-repeat;
      background-size:  260px 290px,
        100% 462px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 729px;
    background-color: $dark;
    background-image: url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-position: 60% 100%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size:  720px 550px,
      auto 730px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
      background-position: 60% 100%, 50% 50%;
      background-repeat: no-repeat, no-repeat;
      background-size:  720px 550px,
        auto 730px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 850px;
    background-color: $dark;
    background-image: url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-position: 80% 100%, 54% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size:  1000px 640px,
      cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"),
        url("../img/bg-back-desktop@2x.jpg");
      background-position: 80% 100%, 54% 50%;
      background-repeat: no-repeat, no-repeat;
      background-size:  1000px 640px,
        cover;
    }
  }
}

.download-app__wrapper {
  width: 90%;
  margin: 0 auto;

  @media (min-width: $mobile-width) {
    position: relative;
    top: 20px;
    padding-bottom: 1em;
  }

  @media (min-width: $tablet-width) {
    top: 55px;
    padding-bottom: 0;
  }
}

.download-app__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $mobile-width) {
    min-height: 645px;
  }

  @media (min-width: $tablet-width) {
    width: 48%;
    min-height: 430px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    min-height: 530px;
    margin-left: 3em;
  }
}

.download-app__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 18px;
  height: 55px;
  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 29px;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $mobile-width) {
    width: 280px;
    font-size: 18px;
    padding: 18px 30px 17px 30px;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    font-size: 18px;
    padding: 18px 45px 18px 45px;
  }

  @media (min-width: $desktop-width) {
    height: 56px;
    font-size: 21px;
    padding: 18px 28px 18px 28px;
  }
}

.download-app__slogan {
  font-family: "OpenSans", "Arial", sans-serif;
  color: $white;
  text-align: center;
  font-weight: 300;
  margin: 0;

  @media (min-width: $mobile-width) {
    visibility: hidden;
    margin-bottom: 1em;
    font-size: 24px;
    line-height: 120%;
  }

  @media (min-width: $tablet-width) {
    visibility: visible;
    font-size: 40px;
    max-width: 185px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    max-width: 230px;
  }
}

.download-app__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $mobile-width) {
    min-height: 210px;
    padding-bottom: 2.1em;
  }

  @media (min-width: $tablet-width) {
    min-height: 240px;
    padding-bottom: 0;
    margin-bottom: 1em;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    min-height: 275px;
  }
}

.download-app__list {
  @include list();
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 205px;
}

.download-app__text {
  font-weight: 300;
  color: $white;
  line-height: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: $mobile-width) {
    font-size: 14px;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.download-app__button:hover {
  color: $pink;
  background-color: $white;
}

.download-app__button:active {
  color: transparentize($pink, 0.7);
  background-color: $white;
}
