.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  @media (min-width: $mobile-width) {
    min-height: 284px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 127px;
  }

  @media (min-width: $desktop-width) {
    min-height: 197px;
  }
}
