.gallery {
    font-size: 14px;
    background-color: $white;
}

.gallery__wrapper {
  width: 100%;

  @media (min-width: $mobile-width) {
    min-height: 2485px;
  }

  @media (min-width: $tablet-width) {
    min-height: 2310px;
  }

  @media (min-width: $desktop-width) {
    min-height: 2055px;
  }
}

.gallery__list {
  width: 100%;
  @media (min-width: $mobile-width) {
    min-height: 2300px;
  }

  @media (min-width: $tablet-width) {
    min-height: 2090px;
  }

  @media (min-width: $desktop-width) {
    min-height: 1815px;
  }
}

.gallery__pic--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 1950px;
  margin-top: 1.5em;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2%;
    min-height: 1400px;
    margin: 3.5em auto 0;
    width: 95%;
 }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    width: 80%;
    margin: 0 auto;
    min-height: 1280px;
  }
}

.gallery__heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  text-align: center;
  margin: 0;

    @media (min-width: $mobile-width) {
      font-size: 14px;
      width: 80%;
    }

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }

    &--wrapper {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: $mobile-width) {
        min-height: 185px;
      }

      @media (min-width: $tablet-width) {
        min-height: 228px;
      }

      @media (min-width: $desktop-width) {
        min-height: 240px;
      }
    }
}

.gallery__author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $light-bg;

  @media (min-width: $mobile-width) {
    min-height: 120px;
    width: 90%;
  }

  @media (min-width: $tablet-width) {
    min-height: 150px;
    width: 100%;
  }

  &--panorama {
    background-color: $light-bg;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: $mobile-width) {
      min-height: 190px;
      width: 90%;
      margin: 0 auto;
    }

    @media (min-width: $tablet-width) {
      min-height: 120px;
    }

    @media (min-width: $desktop-width) {
      min-height: 100px;
      width: 80%;
    }
  }
}

.gallery__author {

  &--wrap {
    width: 90%;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 85%;
    }
  }

  &--wrap-panorama {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    @media (min-width: $mobile-width) {
      min-height: 145px;
    }

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap:  wrap;
      min-height: 120px;
    }

    @media (min-width: $desktop-width) {
      width: 95%;
      min-height: 100px;
    }
  }

  &--wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.gallery__like-counter--panorama {

  font-size: 12px;
  line-height: 24px;
  color: $pink;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    margin-top: 1em;
    order: 2;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
  }

  @media (min-width: $desktop-width) {
    width: 13%;
  }
}

.gallery__like-counter--panorama .like__svg-icon {
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-right: 0;
  }
}

.gallery__like-counter--panorama .like__counter {

  @media (min-width: $tablet-width) {
    order: 0;
    margin-right: 0;
  }
}


.gallery__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 94%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  &--panorama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.gallery__heading {

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: block;
    }
  }
}


.gallery__text {
  line-height: 24px;
  margin: 0;
}

.gallery__author-name {
  line-height: 24px;
  font-weight: bold;
  margin: 0 5px 0 0;
}

.gallery__time-update {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery__like-counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  line-height: 24px;
  color: $pink;
  text-transform: uppercase;
  margin: 0 auto;
  width: 90%;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 85%;
  }

.like__svg-icon {
  margin-right: 20px;

    @media (min-width: $tablet-width) {
      order: 2;
      margin-right: 0;
    }
  }
}

.like__counter {

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.gallery__hint {
  position: absolute;
  z-index: 2;
  color: $white;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $mobile-width) {
    top: 32.8%;
    right: 12%;
  }

  @media (min-width: $tablet-width) {
    top: 55.4%;
    right: 6%;
  }

  @media (min-width: $desktop-width) {
    top: 53%;
    right: 11.5%;
  }
}

.gallery__hint--svg-rect {
  position: absolute;
  z-index: 1;

  @media (min-width: $mobile-width) {
    top: 32.4%;
    right: 6%;
  }

  @media (min-width: $tablet-width) {
    top: 55%;
    right: 3%;
  }

   @media (min-width: $desktop-width) {
    top: 52.5%;
    right: 10%;
  }
}

.gallery__image {

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
  }

  &--panorama {
    position: relative;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 509px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 506px;
  }
 }
}
