.gallery {
    font-size: 14px;
    background-color: $white;
}

.gallery__wrapper {
  width: 100%;

  @media (min-width: $mobile-width) {
    min-height: 2485px;
  }

  @media (min-width: $tablet-width) {
    min-height: 2310px;
  }

  @media (min-width: $desktop-width) {
    min-height: 2055px;
  }
}

.gallery__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $mobile-width) {
    min-height: 185px;
  }

  @media (min-width: $tablet-width) {
    min-height: 228px;
  }

  @media (min-width: $desktop-width) {
    min-height: 240px;
  }
}

.gallery__heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  text-align: center;
  margin: 0;

    @media (min-width: $mobile-width) {
      font-size: 14px;
      width: 80%;
    }

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }
}

.gallery__heading {

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: block;
    }
  }
}

