.price-toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 4em;
  min-height: 4em;
  margin: 0 auto;

  @media (max-width: 659px) {
    min-height: 5.5em;
  }
}

.price-toggles__item {
  position: absolute;
  z-index: -1;
  opacity: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price-toggles__item + label::before {

  @media (max-width: 659px) {
  content:'';
  display: block;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $grey;
  border-radius: 50%;
  background-color: transparentize($dark, 0.7);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6'%3e%3ccircle r='3' opacity='0.3' fill='%23283645'/%3e%3c/svg%3e");
  }
}

.price-toggles__item + label::before:hover {
  background-color: $dark;
  opacity: 0.6;
}

.price-toggles__item:checked + label::before:hover {
  opacity: 1;
  border: 3px solid $dark;
  background-color: $white;
}

.price-toggles__item + label::before:active {
  background-color: $dark;
  opacity: 0.1;
}

.price-toggles__item:checked + label::before:active {
  opacity: 1;
  border: 3px solid $dark;
  background-color: $white;
}

.price-toggles__item:checked + label::before {
  border: 3px solid $dark;
  background-color: $white;
}
