.range-input {

  @media (min-width: $mobile-width) {
    width: 85%;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 210px;
    margin: 0;
  }
}

.range-input__first,
.range-input__second,
.range-input__third {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 70px;

  @media (min-width: $desktop-width) {
    padding-top: 0.8em;
    height: 60px;
  }
}

.range-input__first {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.range-input__second,
.range-input__third {

  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.range-input__slider {
  -webkit-appearance: none;
  margin: 18px 0;

  @media (min-width: $mobile-width) {
    width: 240px; }

  @media (min-width: $tablet-width) {
    width: 202px; }

  @media (min-width: $desktop-width) {
    width: 288px;
  }

}

.range-input__slider:focus {
  outline: none;
}

.range-input__slider::-webkit-slider-runnable-track {
  height: 2px;
  cursor: pointer;
  background: $dark;
}

.range-input__slider::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  border: 2px solid $pink;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.range-input__slider::-webkit-slider-thumb:active {
  height: 14px;
  width: 14px;
  border: 2px solid $pink;
  border-radius: 50%;
  background: $pink;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.range-input__slider:active::-webkit-slider-runnable-thumb {
  background-color: $pink;
}

.range-input__slider::-moz-range-track {
  height: 0.12em;
  cursor: pointer;
  background: $dark;
}

.range-input__slider::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border: 2px solid $pink;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.range-input__slider::-moz-range-thumb:active {
  height: 14px;
  width: 14px;
  border: 2px solid $pink;
  border-radius: 50%;
  background: $pink;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
