.social {
  @media (min-width: $mobile-width) {
    display: flex;
    justify-content: space-between;
    width: 55%;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 27%;
    margin-bottom: 1.5em;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-bottom: 0;
  }
}

.social__link {
  text-decoration: none;
  cursor: pointer;
}
