.bg {
  font-family: "OpenSans", "Arial", sans-serif;

  @media (min-width: $mobile-width) {
    min-height: 240px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;

  }

  @media (min-width: $tablet-width) {
    min-height: 440px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 2%;
  }

  @media (min-width: $desktop-width) {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 2%;
  }

}

.bg__slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-weight: 300;
    margin: 0;
    text-align: center;

    @media (min-width: $mobile-width) {
     min-height: 240px;
     font-size: 24px;
     line-height: 33px;
    }

    @media (min-width: $tablet-width) {
     min-height: 440px;
     font-size: 50px;
     line-height: 68px;
    }

    @media (min-width: $desktop-width) {
      min-height: 395px;
    }

    &_form {
     color: $white;
     font-weight: 300;
     margin: 0 auto;
     position: relative;
     text-align: center;
     z-index: 4;

      @media (min-width: $mobile-width) {
        width: 80%;
        top: 90px;
        font-size: 24px;
        line-height: 33px;
        min-height: 90px;
      }

      @media (min-width: $tablet-width) {
        width: 80%;
        top: 160px;
        font-size: 50px;
        line-height: 68px;
        min-height: 175px;
      }

      @media (min-width: $desktop-width) {
        width: 70%;
        top: 160px;
        min-height: 106px;
      }
    }

}
