.contest {
  font-family: "OpenSans", "Arial", sans-serif;
}

.contest__legend {

  @media (min-width: $mobile-width) {
      display: none;
  }

  @media (min-width: $tablet-width) {
      display: block;
  }

  @media (min-width: $desktop-width) {
      display: block;
  }
}

.contest__intro,
.contest__legend {
  line-height: 30px;
  margin: 0;

  @media (min-width: $mobile-width) {
      font-size: 14px;
  }

  @media (min-width: $tablet-width) {
      font-size: 18px;
  }

  @media (min-width: $desktop-width) {
      font-size: 18px;
  }
}

.contest__wrapper {
  margin: 0 auto;

  @media (min-width: $mobile-width) {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     min-height: 170px;
     width: 90%;
  }

  @media (min-width: $tablet-width)  {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 255px;
     width: 80%;
  }

  @media (min-width: $desktop-width)  {
     /*display: flex;
     justify-content: center;
     align-items: center; */
     min-height: 215px;
     width: 60%;
  }
}


