.features {
  font-family: "OpenSans", "Arial", sans-serif;
  background-color: $white;
  position: relative;
  z-index: 9;

  @media (min-width: $mobile-width) {
    min-height: 1002px;
  }

  @media (min-width: $tablet-width) {
    min-height: 725px;
  }

  @media (min-width: $desktop-width) {
    min-height: 950px;
  }
}

.features:before {

@media (min-width: $mobile-width) {
  content: '';
  position: absolute;
  z-index: 1;
  width: 160px;
  height: 275px;
  bottom: 0;
  left: 25%;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;

   @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: 160px;
   }
}

@media (min-width: $tablet-width) {
 content: '';
 position: absolute;
 z-index: 1;
 bottom: 0;
 left: 3%;
 width: 300px;
 height: 480px;
 background-image: url("../img/iphone-screen-3-tablet@1x.png");
 background-repeat: no-repeat;

   @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-screen-3-tablet@2x.png");
    background-repeat: no-repeat;
    background-size: 270px 490px;
 }
}

@media (min-width: $desktop-width) {
  display: none;
}
}

.features__item:first-child:before {

@media (min-width: $desktop-width) {
 content: '';
 position: absolute;
 z-index: 1;
 top: 0;
 left: 8%;
 width: 260px;
 height: 300px;
 background-image: url("../img/iphone-screen-1-desktop@1x.png");
 background-repeat: no-repeat;

 @media (min-resolution: 2dppx) {
  left: 8.5%;
  background-image: url("../img/iphone-screen-1-desktop@2x.png");
  background-repeat: no-repeat;
  background-size: 280px 300px;
 }
}
}

.features__item:nth-child(2n+2):before {

@media (min-width: $desktop-width) {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 38%;
  width: 260px;
  height: 300px;
  background-image: url("../img/iphone-screen-2-desktop@1x.png");
  background-repeat: no-repeat;
 }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: 280px 300px;
  }
}

.features__item:last-child:before {

@media (min-width: $desktop-width) {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 68%;
  width: 260px;
  height: 300px;
  background-image: url("../img/iphone-screen-3-desktop@1x.png");
  background-repeat: no-repeat;
 }

 @media (min-resolution: 2dppx) {
  left: 68.5%;
  background-image: url("../img/iphone-screen-3-desktop@2x.png");
  background-repeat: no-repeat;
  background-size: 280px 300px;
}
}

.features__wrapper {
width: 100%;
position: relative;

@media (min-width: $mobile-width) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 1002px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 725px;
}

@media (min-width: $desktop-width) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 950px;
}
}

.features__description {

&_wrapper {
background-color: $white;
font-weight: 300;

  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    line-height: 29px;
    min-height: 210px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    line-height: 54px;
    min-height: 245px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    line-height: 68px;
    min-height: 320px;
  }
}

&_wrap {

  @media (min-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 140px;
    }
  }

&_item {
    margin: 0;
}
}

.features__list {

  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: 390px;
    margin-top: 5em;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 380px;
    text-align: center;
    padding-top: 2em;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 205px;
    padding-top: 0;
  }

  &_wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;

    &:before  {
      content: '';
      display: block;
      position: absolute;
      height: 50%;
      left: 0;
      right: 0;
      z-index: -1;
      top: 0;
      background: $light-bg;
      transform: skewY(-4deg);
      transform-origin: 100% 0;

   }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 50%;
      position: absolute;
      z-index: -1;
      background-color: $light-bg;
      top: 50%;
    }

    @media (min-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 794px;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      min-height: 480px;
    }

    @media (min-width: $desktop-width) {
      justify-content: flex-end;
      min-height: 640px;
    }
  }

  &_wrap {

  @media (min-width: $mobile-width) {
    min-height: 390px;
    width: 80%;
    margin: 0 auto;
  }

  @media(min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 360px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 205px;
    width: 80%;
    padding-bottom: 4em;
    margin: 0 auto;
  }
}
}


.features__item {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 25%;
    min-height: 195px;
    text-align: center;
  }
}

.features__definition {
    color: $black;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 0;

  @media (min-width: $mobile-width)   {
    margin-top: 0;
    margin-bottom: 0.8em;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 1em;
  }
}

.features__content {
font-size: 14px;
line-height: 24px;
margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
