.features {
    font-family: "OpenSans", "Arial", sans-serif;

    @media (min-width: $mobile-width) {
      min-height: 1002px;
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 105%;
    }

    @media (min-width: $tablet-width) {
      min-height: 725px;
      background-position: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: 10% 125%;
      background-size: 250px 490px;
    }
}

.features__wrapper {

  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    min-height: 730px;
    text-align: center;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 725px;
    width: 90%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 890px;
    margin: 0 auto;
  }
}

.features__description {

  &_wrapper {
  background-color: $white;
  font-weight: 300;

    @media (min-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 24px;
      line-height: 29px;
      min-height: 135px;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      line-height: 54px;
      min-height: 270px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      line-height: 68px;
    }
  }
    &_item {
      margin: 0;
    }
}

.features__list {

    @media (min-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      min-height: 360px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 90px;
      align-self: center;
      justify-self: center;
    }

    &_wrapper {
     /* background-color: $light-bg;*/
      display: flex;
      justify-content: flex-end;
      width: 100%;
      min-height: 360px;
    }

    &_wrap {
      display: flex;
      min-height: 360px;
      width: 310px;
    }
}

.features__item {
    /*align-self: center;
    justify-self: center; */

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
    }
}

.features__definition {
      color: $black;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      margin: 0;

    @media (min-width: $desktop-width) {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
    }
}

.features__content {
  font-size: 14px;
  line-height: 24px;

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }
}

