.form {
   font-family: "OpenSans", "Arial", sans-serif;
   font-size: 18px;
   line-height: 30px;

    &__wrapper {

        @media (min-width: $mobile-width) {
          margin: 0 auto;
          max-width: 320px;
        }

        @media (min-width: $tablet-width) {
          display: flex;
          flex-direction: column;
          margin: 0 auto; 
          max-width: 620px; 
        }

        @media (min-width: $desktop-width) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;  
          max-width: 940px;
          margin: 0 auto;
        }
    }

    &-name__wrapper {

        @media (min-width: $mobile-width) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          min-height: 320px;
          margin-top: 45px;
          margin-bottom: 45px;
        }

        @media (min-width: $tablet-width) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          min-height: 320px;
          margin-top: 45px;
          margin-bottom: 45px;
        }

        @media (min-width: $desktop-width) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 440px;
        }
    }

    &-name__item {

        @media (min-width: $mobile-width) {
          display: flex;
          flex-direction: column; 
          justify-content: space-between;
          min-height: 90px; 
        }

        @media (min-width: $tablet-width) {
          display: flex;
          flex-direction: row; 
          justify-content: space-between;
          align-items: center;
        }
    }
    
    &-name__text {

        @media (min-width: $tablet-width) {
            padding-right: 20px;
        }
    }

    &__input {
        display: block;
        font-size: 18px;
        line-height: 30px;
        border: 2px solid $light;
        border-radius: 1px;
        box-sizing: border-box;   

        @media (min-width: $mobile-width) {
          width: 276px;
          height: 59px;
        }

        @media (min-width: $tablet-width) {
          width: 521px;
          height: 59px;   
        }

        @media (min-width: $desktop-width) {
          width: 336px;
          height: 59px;
        }
    }

    &__contacts_heading {

        @media (min-width: $mobile-width) {
            display: none;
        }

        @media (min-width: $tablet-width) {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        @media (min-width: $desktop-width) {
            display: block;
        }
    }

    &__button {
        display: block;
        text-transform: uppercase;
        color: $white;
        border: 2px solid $green;
        border-radius: 1px;
        background-color: $green;
        cursor: pointer;

        @media (min-width: $mobile-width) {
           width: 276px;
           height: 59px;  
        }

        @media (min-width: $tablet-width) {
           width: 296px;
           height: 59px;  
        }

        @media (min-width: $desktop-width) {
           width: 296px;
           height: 59px;  
        }
    }

    &__info {
        font-size: 14px;
        text-transform: uppercase;
    }
}

.name-input {

    @media (min-width: $tablet-width) {
        width: 561px;
        height: 59px;
    }

    @media (min-width: $desktop-width) {
        width: 376px;
        height: 59px;
    }
}

.achievements {
   
   &__list {
        
    @media (min-width: $desktop-width) {
        margin-top: 60px;
        min-width: 940px;
    }
   }

   &__wrapper {
     
     @media (min-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 460px;
        padding-bottom: 45px;
        padding-top: 45px;
     }

     @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 460px;
        padding-bottom: 45px;
        padding-top: 45px;
     }

     @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 230px;
        padding-top: 0;
        padding-bottom: 0;
     }
   }
   
   &__heading {
     
     @media (min-width: $mobile-width) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 220px;       
     }

     @media (min-width: $tablet-width) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 370px;       
     }

     @media (min-width: $desktop-width) {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 370px;            
     }
   }

   &__item {
     
     @media (min-width: $mobile-width) {
        display: flex;
        justify-content: flex-start;  
        align-items: center;
     }

     @media (min-width: $tablet-width) {
        display: flex;
        justify-content: flex-start;  
        align-items: center;
     }
     
   }

   &__list {
     background-color: $light-bg;
     font-size: 18px;
     line-height: 30px;

   @media (min-width: $mobile-width) {
       background-color: $light-bg;   
       border: none;
   }

   @media (min-width: $tablet-width) {
       order: 3;
       background-color: $white;
       border: 2px solid $light;
       border-radius: 1px;
   }

   @media (min-width: $desktop-width) {
       background-color: $white;
       border: 2px solid $light;
       border-radius: 1px;
   }
 }
}

.form__contacts {

    @media (min-width: $mobile-width) {
        border: none;
       
    }

    @media (min-width: $tablet-width) {
        order: 2;
        border: 2px solid $light;
        border-radius: 1px;
        margin-top: 60px;
    }
 
    @media (min-width: $desktop-width) {
        margin-top: 60px;
        border: 2px solid $light;
        border-radius: 1px;
    }

    &_wrapper {

        @media (min-width: $mobile-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 205px;
            padding-top: 45px;
            padding-bottom: 45px;
        }

        @media (min-width: $tablet-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 205px;
            padding-top: 45px;
            padding-bottom: 45px;
        }

        @media (min-width: $desktop-width) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 110px;
            width: 940px;
            padding-top: 30px;
            padding-bottom: 25px;
           
        }
    }

    &_item {

        @media (min-width: $mobile-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 90px;
        }

        @media (min-width: $tablet-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 90px;
          }
    }

}

.form__contacts_item .highlight {
    
    @media (min-width: $tablet-width) {
     order: 1;
    }
}

.app {
   &__list {
   /*width: 100%;*/

    @media (min-width: $mobile-width) {
       border: none; 
       background-color: $light-bg;
    }

    @media (min-width: $tablet-width) {
       order: 1; 
       border: 2px solid $light;
       border-radius: 1px; 
       background-color: $white;
    }

    @media (min-width: $desktop-width) {
       order: 1; 
       border: 2px solid $light;
       border-radius: 1px; 
       background-color: $white;
       width: 440px;
       max-height: 300px;
     }
   }
   
   &__wrapper {

   @media (min-width: $mobile-width) {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       min-height: 265px;
    }

   @media (min-width: $tablet-width) {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       min-height: 200px;
    }
  }  

    &__item {

    @media (min-width: $mobile-width) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
   }

   &__heading {

    @media (min-width: $mobile-width) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 180px;
    }
   }
}

.highlight {
    font-size: 14px;
    line-height: 18px;
    color: $pink;
    text-transform: uppercase;
}

.trip-review {
   
   &__wrapper {
     
    @media (min-width: $mobile-width) {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       height: 465px;
    }
    
    @media (min-width: $tablet-width) {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       order: 4; 
    }

    @media (min-width: $desktop-width) {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       order: 4;
       width: 940px;
    }

   }
   
   &__item {

     @media (min-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
     }

     @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid $light;
        border-radius: 1px;
    }

    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid $light;
        border-radius: 1px;
        margin-top: 60px;
    }
   }

   &__content {
    display: block;
    box-sizing: border-box;
    resize: none;
    border: 2px solid $light;
    border-radius: 1px;

    @media (min-width: $mobile-width) {
        width: 276px;
    }

    @media (min-width: $tablet-width) {
        width: 496px;
        margin: 50px 82px;
    }

    @media (min-width: $desktop-width) {
        width: 816px;
    }
   }

   &__button {

      @media (min-width: $mobile-width) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      @media (min-width: $tablet-width) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 620px;
        
    }
      
       @media (min-width: $desktop-width) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 940px;   
       }
   }

   &__heading {

      @media (min-width: $mobile-width) {
          text-align: center;
      }
   }

}

.input-tel,
.input-email {

    @media (min-width: $tablet-width) {
        display: block;
        width: 496px;
        height: 59px;
    }

    @media (min-width: $desktop-width) {
        display: block;
        width: 371px;
        height: 59px;
    }
}
