.form {
   font-family: "OpenSans", "Arial", sans-serif;
   font-size: 18px;
   line-height: 30px;
}

.form__wrapper {
  margin: 0 auto;

    @media (min-width: $mobile-width) {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 100%;
     min-height: 2050px;
    }

    @media (min-width: $tablet-width) {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     min-height: 2150px;
     width: 92%;
    }

    @media (min-width: $desktop-width) {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     min-height: 1250px;
     width: 80%;
    }
}

.form-name__wrapper {

    @media (min-width: $mobile-width) {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     min-height: 370px;
    }

    @media (min-width: $tablet-width) {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     min-height: 295px;
     width: 100%;
    }

    @media (min-width: $desktop-width) {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: flex-start;
     width: 45%;
    }
}

.form-name__item {

    @media (min-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 90px;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
}

.form-name__text {

    @media (min-width: $mobile-width) {
      margin-left: 1.2em;
    }

    @media (min-width: $tablet-width) {
      margin-left: 0;
      margin-right: 1em;
    }

}

.form__input {
     display: block;
     font-size: 18px;
     line-height: 30px;
     border: 2px solid $light;
     border-radius: 1px;
     box-sizing: border-box;
     padding-left: 1.2em;

     @media (min-width: $mobile-width) {
       width: 276px;
       height: 59px;
     }

     @media (min-width: $tablet-width) {
       width: 521px;
       height: 59px;
     }

     @media (min-width: $desktop-width) {
       width: 336px;
       height: 59px;
    }
}

.form__contacts_heading {

  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 41%;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 29%;
  }
}

.button {
  display: block;
  text-transform: uppercase;
  color: $white;
  border: 2px solid $green;
  border-radius: 1px;
  background-color: $green;
  cursor: pointer;

    @media (min-width: $mobile-width) {
     width: 276px;
     height: 59px;
    }

    @media (min-width: $tablet-width) {
     width: 296px;
     height: 59px;
    }

    @media (min-width: $desktop-width) {
     width: 296px;
     height: 59px;
    }
}

.form__info {
  font-size: 14px;
  text-transform: uppercase;
}

.name-input {

    @media (min-width: $tablet-width) {
        width: 561px;
        height: 59px;
    }

    @media (min-width: $desktop-width) {
        width: 376px;
        height: 59px;
    }
}

.achievements__list {
  font-size: 18px;
  line-height: 30px;

 @media (min-width: $mobile-width) {
  min-height: 605px;
  margin: 0;
  border: none;
  padding: 0;
  background-color: $light-bg;
 }

 @media (min-width: $tablet-width) {
  min-height: 555px;
  order: 3;
  background-color: $white;
  border: 2px solid $light;
  border-radius: 1px;
 }

 @media (min-width: $desktop-width) {
  min-height: 240px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  background-color: $white;
  border: 2px solid $light;
  border-radius: 1px;
 }
}

.achievements__wrapper {

     @media (min-width: $mobile-width) {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 450px;
        width: 90%;
        top: 4.5em;
        margin: 0 auto;
    }

     @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 535px;
        width: 85%;
        top: 0;
     }

     @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        min-height: 230px;

     }
   }

.achievements__heading {

     @media (min-width: $mobile-width) {
        position: relative;
        top: 3.5em;
        text-align: center;
        width: 70%;
        margin: 0 auto;
     }

     @media (min-width: $tablet-width) {
        top: 0;
        width: 70%;
     }

     @media (min-width: $desktop-width) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
     }
}

.achievements__item {

     @media (min-width: $mobile-width) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
     }

     @media (min-width: $tablet-width) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
     }

     @media (min-width: $desktop-width) {
       flex-basis: 30%;
     }
}

.form__contacts {

    @media (min-width: $mobile-width) {
        border: none;
        margin: 0;
        padding: 0;
    }

    @media (min-width: $tablet-width) {
        order: 2;
        min-height: 315px;
        width: 100%;
        border: 2px solid $light;
        border-radius: 1px;
    }

    @media (min-width: $desktop-width) {
        margin-top: 60px;
        min-height: 170px;
        border: 2px solid $light;
        border-radius: 1px;
    }

    &_wrapper {

        @media (min-width: $mobile-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            min-height: 290px;
            width: 90%;
            margin: 0 auto;
        }

        @media (min-width: $tablet-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 80%;
            min-height: 295px;
        }

        @media (min-width: $desktop-width) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            min-height: 135px;
            width: 95%;
        }
    }

    &_item {

        @media (min-width: $mobile-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            min-height: 90px;
        }

        @media (min-width: $tablet-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            min-height: 90px;
          }
    }

}

.form__contacts_item .highlight {

    @media (min-width: $mobile-width) {
      margin-left: 1.2em;
    }

    @media (min-width: $tablet-width) {
     order: 1;
    }
}

.app__list {

    @media (min-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      margin: 0 auto;
      position: relative;
      min-height: 340px;
      padding: 0;
      border: none;
      background-color: $light-bg;
    }

    @media (min-width: $tablet-width) {
       order: 1;
       border: 2px solid $light;
       border-radius: 1px;
       background-color: $white;
       box-sizing: border-box;
       min-height: 300px;
       width: 100%;
    }

    @media (min-width: $desktop-width) {
       order: 1;
       border: 2px solid $light;
       border-radius: 1px;
       background-color: $white;
       width: 45%;
       min-height: 300px;
       margin: 0;
     }
}

.app__wrapper {

   @media (min-width: $mobile-width) {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       min-height: 190px;
       width: 90%;
       position: relative;
       top: 4em;
       margin: 0 auto;
    }

   @media (min-width: $tablet-width) {
       top: 0;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       min-height: 300px;
       width: 80%;
    }

    @media (min-width: $desktop-width) {
      width: 70%;
    }
}

.app__item {

    @media (min-width: $mobile-width) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    @media (min-width: $tablet-width) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.app__heading {

    @media (min-width: $mobile-width) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 65%;
        margin: 0 auto;
        position: relative;
        top: 3em;
    }

    @media (min-width: $tablet-width) {
      width: 60%;
      top: 0;
    }

    @media (min-width: $desktop-width) {
      width: 83%;
    }

}

.highlight {
  font-size: 14px;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
}

.trip-review__wrapper {

    @media (min-width: $mobile-width) {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       min-height: 465px;
       width: 100%;
    }

    @media (min-width: $tablet-width) {
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
       order: 4;
       min-height: 470px;
    }

    @media (min-width: $desktop-width) {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       order: 4;
       width: 100%;
       min-height: 350px;
    }
}

.trip-review__heading {

  @media (min-width: $mobile-width) {
    margin-bottom: 1em;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    width: 40%;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 27%;
    margin-bottom: 0;
  }
}

.trip-review__item {

     @media (min-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 230px;
        border: none;
        margin: 0;
        padding: 0;
        width: 100%;
     }

     @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid $light;
        border-radius: 1px;
        margin-left: 1.7em;
        margin-right: 1.7em;
        width: 100%;
    }

    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid $light;
        border-radius: 1px;
        margin: 0;
        width: 100%;


    }
}

.trip-review__content {
    display: block;
    font: inherit;
    font-size: 18px;
    line-height: 30px;
    color: $dark;
    box-sizing: border-box;
    padding-top: 1.1em;
    padding-left: 1.2em;
    resize: none;
    border: 2px solid $light;
    border-radius: 1px;
    outline: none;
	  -moz-appearance: none;

    @media (min-width: $mobile-width) {
        width: 90%;
        height: 200px;
        margin: 0 auto;
    }

    @media (min-width: $tablet-width) {
        width: 80%;
        height: 189px;
        margin: 2.5em auto 3em;
    }

    @media (min-width: $desktop-width) {
        width: 85%;
        height: 125px;
        margin: 3em auto;
    }
}

.trip-review__button {

      @media (min-width: $mobile-width) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          min-height: 130px;
      }

      @media (min-width: $tablet-width) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 120px;
          width: 100%;
      }

       @media (min-width: $desktop-width) {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

       }

       &_wrapper {

        @media (min-width: $mobile-width) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          min-height: 130px;
        }

        @media (min-width: $tablet-width) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          min-height: 70px;
        }
       }
}

::-webkit-input-placeholder {
  color: $dark;
  font-size: 18px;
  line-height: 30px;
}

::-moz-placeholder {
  color: $dark;
  font-size: 18px;
  line-height: 30px;
}

.input-tel,
.input-email {

    @media (min-width: $tablet-width) {
        display: block;
        width: 496px;
        height: 59px;
    }

    @media (min-width: $desktop-width) {
        display: block;
        width: 371px;
        height: 59px;
    }
}


.achievements__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
 }

 .achievements__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.achievements__checkbox + label::before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $grey;
  border-radius: 0.1em;
  margin-right: 1.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.achievements__checkbox:checked + label::before {
  border-color: $grey;
  background-color: $white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 16' %3e%3cpath fill='%22856'  d='M21.7001 0.284331C21.5105 0.102082 21.2557 0 20.9903 0C20.7249 0 20.47 0.102082 20.2805 0.284331L6.70324 13.6028L1.73472 8.72901C1.64045 8.63578 1.52831 8.56178 1.40474 8.51128C1.28118 8.46079 1.14865 8.43479 1.01479 8.43479C0.88093 8.43479 0.748397 8.46079 0.624833 8.51128C0.50127 8.56178 0.389122 8.63578 0.294859 8.72901C0.106004 8.91537 0 9.16747 0 9.43024C0 9.69302 0.106004 9.94512 0.294859 10.1315L5.98331 15.7115C6.07806 15.8037 6.19042 15.8767 6.31396 15.9262C6.4375 15.9756 6.56979 16.0007 6.70324 16C6.96925 15.9989 7.22416 15.8953 7.41303 15.7115L21.7001 1.69675C21.7951 1.60428 21.8705 1.49427 21.922 1.37306C21.9735 1.25186 22 1.12185 22 0.990541C22 0.859234 21.9735 0.729226 21.922 0.608017C21.8705 0.486809 21.7951 0.376798 21.7001 0.284331Z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}





.app__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .custom-radio */
.app__radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.app__radio + label::before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $grey;
  border-radius: 50%;
  margin-right: 1.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
/* стили при наведении курсора на радио */
.app__radio:not(:disabled):not(:checked) + label:hover::before {
  border: 2px solid $dark;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.app__radio:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border: 2px solid $pink;
}
/* стили для радиокнопки, находящейся в фокусе */
.app__radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.app__radio:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.app__radio:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.app__radio:disabled+label::before {
  background-color: #e9ecef;
}

