.page-footer-index {
    font-family: "OpenSans", "Arial", sans-serif;
}

.page-footer-index__contacts {
    
    &_text {
     font-weight: 300;

     @media (min-width: $mobile-width) {
        font-size: 24px;
        line-height: 120%;
      }

     @media (min-width: $tablet-width)  {
        font-size: 40px;
        line-height: 54px;
      }

     @media (min-width: $desktop-width) {
        font-size: 50px;
        line-height: 68px; 
      }

    }
    
    &_list_wrapper {

        @media (min-width: $desktop-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            max-width: 860px;
            max-height: 330px;
            margin: 0 auto;
        }
    }

    &_list {
     @include list();


     @media (min-width: $desktop-width) {
        display: flex;
        justify-content: space-between; 
     }
     
    }

    &_list-link {
     text-decoration: none;
     color: $pink;
     font-size: 24px;
     line-height: 33px;
    }

    &_list-text {
     color: $pink;  
     font-size: 24px;
     line-height: 33px; 
    }

    &_list-heading {
     font-size: 18px;
     font-weight: bold;
     line-height: 25px;   
    }

}   

.page-footer{
    
    &__wrapper {

        @media (min-width: $mobile-width) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 284px;
            padding-top: 40px;
            padding-bottom: 35px;
        }

        @media (min-width: $tablet-width) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 620px;
            height: 127px;
            margin: 0 auto;
        }

        @media (min-width: $desktop-width) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 940px;
            height: 197px;
            margin: 0 auto;
        }
}
     

    &__social {
        
        @media (min-width: $mobile-width) {
            display: flex;
            justify-content: space-between;
            width: 175px;
        }

        @media (min-width: $tablet-width) {
            display: flex;
            justify-content: space-between;
            width: 175px;
        }

        @media (min-width: $desktop-width) {
            display: flex;
            justify-content: space-between;
            width: 170px;
        }

    }

    &__copyright {
        
        @media (min-width: $mobile-width) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 130px;
        }

        @media (min-width: $tablet-width) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 130px;
        }

        @media (min-width: $desktop-width) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 150px;
        }
    }

}

.copyright__text {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $desktop-width) {
      font-size: 18px; 
    }
}

.social__link {
    text-decoration: none;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid rgba(40, 54, 69, 0.1);
    background: $white;
}

.page-footer-index__map {
    
    @media (min-width: $mobile-width) {
      width: 320px;
      margin: 0 auto;       
    }

    @media (min-width: $tablet-width) {
      width: 660px;
      margin: 0 auto;       
    }


    @media (min-width: $desktop-width) {
      width: 1200px;
      margin: 0 auto;
    }
}

.page-footer__map {

    @media (min-width: $mobile-width) {
        width: 320px;
        height: 200px;
    }

    @media (min-width: $tablet-width) {
        width: 660px;
        height: 374px;
    }
   
    @media (min-width: $desktop-width) {
        width: 1200px;
        height: 502px;
    }
}