.social__link {
    text-decoration: none;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid rgba(40, 54, 69, 0.1);
    background: $white;
}

.page-footer-index__contacts {
    
    &_text {
     font-weight: 300;
     font-size: 24px;
     line-height: 120%;
    }

    &_list {
     @include list();
     
    }

    &_list-link {
     text-decoration: none;
     color: $pink;
     font-size: 24px;
     line-height: 33px;
    }

    &_list-text {
     color: $pink;  
     font-size: 24px;
     line-height: 33px; 
    }

    &_list-heading {
     font-size: 18px;
     font-weight: bold;
     line-height: 25px;   
    }
}
