.page-header {
    background-color: $header-color;

    @media (min-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
     @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }  
   
    &__logo-link {
      text-decoration: none; 
            
    }

    &__logo_wrapper {
        
        @media (min-width: $mobile-width) {
         display: flex;
         justify-content: space-between;
        }

        @media (min-width: $tablet-width) {
         display: flex;
         justify-content: space-between;
         width: 620px;
        }
        
    }

    &__logo {

        @media (min-width: $mobile-width) {
         height: 66px;
        }
  
        @media (min-width: $tablet-width) {
         height: 110px;
        }
  
        @media (min-width: $desktop-width) {
         height: 110px;
       }
    }
}

.main-nav {
    font-family: "OpenSans", "Arial", sans-serif;
    color: $white;

    @media (min-width: $mobile-width) {
       font-size: 18px;
       font-weight: bold;
       line-height: 32px;
       text-transform: uppercase;
    }
    
    @media (min-width: $tablet-width) {
        font-size: 18px;
        font-weight: bold;
        line-height: 32px;
        text-transform: uppercase;
    }

    @media (min-width: $desktop-width) {
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        text-transform: none;
    }
    
    
    &__wrapper {
        
        @media (min-width: $mobile-width) {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         width: 280px;
         margin: 0 auto;   
        }

        @media (min-width: $tablet-width) {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         width: 620px;
         margin: 0 auto;   
        }

        @media (min-width: $desktop-width) {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         width: 920px;
         margin: 0 auto;
        }
    }

    &__list {
      @include list();
      font-size: 18px;
      line-height: 32px; 
      
      @media (min-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 255px;
      }

      @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;
        min-height: 255px;
      }
      
      @media (min-width: $desktop-width) {
        width: 620px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
        text-transform: normal;
        font-weight: normal;
      }
    }
     
    &__toggle {
       
        @media (min-width: $mobile-width)  {
           display: block;
        } 
       
        @media (min-width: $tablet-width)  {
           display: block;
        }

       @media (min-width: $desktop-width)  {
           display: none;
       }
    }
      
}

.site-list {

    &__link {
     color: $white;
     text-decoration: none;
     cursor: pointer;
    }

    &__item {
      
        @media (min-width: $mobile-width) {
            padding-top: 25px;
            padding-bottom: 25px;
            min-height: 25%;
        }

        @media (min-width: $tablet-width) {
            padding-top: 25px;
            padding-bottom: 25px;
            min-height: 25%;
        }
    }
}

/*.bg-index-mobile {
    background-image: url('../img/iphone-hand-mobile@1x.png'),
                      url('../img/bg-back-mobile@1x.jpg');
    background-repeat: no-repeat;
                        
} 

.bg-mobile {
    background-image: url('../img/bg-back-mobile@1x.jpg');
    background-repeat: no-repeat;
} */
