.price {
   font-family: "OpenSans", "Arial", sans-serif;
   line-height: 30px;
   text-transform: uppercase;
   position: relative;
   z-index: 1;
   background-color: $white;

  &:before  {
    content: '';
    display: block;
    position: absolute;
    height: 50%;
    left: 0;
    right: 0;
    z-index: -1;
    top: 0;
    background: $light-bg;
    transform: skewY(-4deg);
    transform-origin: 100% 0;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    background-color: $light-bg;
    top: 50%;
  }

}

.price__list {
  border-collapse: collapse;
  width: 100%;

  @media (max-width: $mobile-width) {
    width: 840px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 8em;
  }
}

.price__wrapper {

    @media (min-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 320px;
      overflow: hidden;
      min-height: 480px;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      min-height: 390px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      min-height: 534px;
      margin: 0 auto;
    }
}


.price__heading {
  color: $white;

  &_item {
   position: relative;

   @media (min-width: $tablet-width) {
    height: 5.5em;
    }

    @media (min-width: $desktop-width) {
      height: 6.5em;
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.price__heading_item:nth-child(2n+2),
.price__heading_item:nth-child(2n+3) {
  border-right: 2px solid $white;
}

.price__heading_item:first-child {
  background-color: $light-bg;
  padding: 0;
  border-left: 2px solid $light-bg;
}

.price__heading_item:last-child {
  border-left: 2px solid $light-bg;
}

.price__heading_legend {
  position: absolute;
  z-index: 2;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    top: 5px;
    left: 10px;
    transform: rotate(-46deg);
   }

  @media (min-width: $desktop-width) {
   top: 13px;
   left: 16px;
   transform: rotate(-46deg);
  }
}

.price__heading_svg-bg {
  position: absolute;
  z-index: 1;
  top: 0;

  @media (min-width: $tablet-width) {
    width: 57px;
    height: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 74px;
    height: 74px;
  }

}

.price__description_mobile {

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__description_wrapper {

  @media (max-width: $mobile-width) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.price__item {
  text-transform: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price__heading_item-type {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price__heading_item:not(:first-child) {
  background-color: $dark;
}

.price__wrapper {

   @media (min-width: $desktop-width) {
    width: 78%;
    min-height: 534px;
    margin: 0 auto;
   }

}

.price__description_item {
  border: 2px solid $grey;
  width: 25%;
  background-color: $white;

  @media (min-width: $mobile-width) {
    height: 59px;
  }

  @media (min-width: $tablet-width) {
    height: 45px;
  }

  @media (min-width: $desktop-width) {
    height: 3.8em;
  }
}

.price__description_item:not(:first-of-type) {
  text-align: center;
}

.price__description_item:first-of-type .price__item {
  text-align: left;
  margin-left: 1.2em;
}

.price__amount {
  font-weight: 300;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price__toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 4em;
  min-height: 4em;
  margin: 0 auto;
}

.price__toggle {
  position: absolute;
  z-index: -1;
  opacity: 0;
  }

.price__toggle + label::before {

  @media (max-width: $mobile-width) {
  content:'';
  display: block;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $grey;
  border-radius: 50%;
  background-color: $dark;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6'%3e%3ccircle r='3' opacity='0.3' fill='%23283645'/%3e%3c/svg%3e");
  }
}

.price__toggle:checked + label::before {
  border: 3px solid $dark;
  background-color: $white;
}

.price__toggle {

  @media (min-width: $tablet-width) {
    display: none;
  }
}


