.research {

    font-family: "OpenSans", "Arial", sans-serif;

    @media (min-width: $mobile-width) {
       display: none;
    }

    @media (min-width: $tablet-width) {
        display: block;
    }

     @media (min-width: $desktop-width) {
        display: block;
        background-color: $light-bg;
    }

    &__heading {
        font-size: 30px;
        font-weight: bold;
        color: $black;
        margin: 0;

        @media (min-width: $tablet-width) {
          line-height: 36px;
        }

        @media (min-width: $desktop-width) {
          line-height: 30px;
        }
    }

    &__link {
        color: $pink;

        @media (min-width: $tablet-width) {
            font-size: 14px;
            line-height: 24px;
        }

        @media (min-width: $desktop-width) {
            font-size: 18px;
            line-height: 30px;
        }
    }

    &__wrapper {
      position: relative;

        @media (min-width: $tablet-width) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 400px;
          width: 90%;
          margin: 0 auto;
        }

        @media (min-width: $desktop-width) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 430px;
          width: 80%;
          margin: 0 auto;
        }
    }
}

.research__text_wrapper {

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 50%;
    }

    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 60%;
        min-height: 210px;
    }
}

.research__svg-icon_timer {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
  }
}


.research__svg-icon_circle {
  position: absolute;

  @media (min-width: $tablet-width) {
   top: 115px;
   left: 18px;
  }

  @media (min-width: $desktop-width) {
   width: 252px;
   height: 252px;
   top: 110px;
   left: 23px;
  }
}

.research__svg-icon_text {
  position: absolute;

  @media (min-width: $tablet-width) {
   top: 175px;
   left: 66px;
  }

  @media (min-width: $desktop-width) {
   width: 138px;
   height: 94px;
   top: 185px;
   left: 76px;
  }
}

