.research {

    font-family: "OpenSans", "Arial", sans-serif;

    @media (min-width: $mobile-width) {
       display: none;
    }   

    @media (min-width: $tablet-width) {
        display: block;
    }  

     @media (min-width: $desktop-width) {
        display: block;
    }  
   
    &__heading {
        font-size: 30px;
        font-weight: bold;
        color: $black;
        margin: 0;
        
        @media (min-width: $tablet-width) {
          line-height: 36px;
        }

        @media (min-width: $desktop-width) {
          line-height: 30px; 
        }
    }

    &__link {
        color: $pink;

        @media (min-width: $tablet-width) {
            font-size: 14px;
            line-height: 24px;
        }

        @media (min-width: $desktop-width) {
            font-size: 18px;
            line-height: 30px;
        }
    }

    &__wrapper {

        @media (min-width: $tablet-width) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 300px;
          width: 620px; 
          margin: 0 auto;            
        }

        @media (min-width: $desktop-width) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-height: 300px;
          width: 890px; 
          margin: 0 auto;  
        }
    }
}

.research__text_wrapper {

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 295px;
        max-height: 200px;
    }

    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 520px;
        max-height: 200px;
    }
}