.reviews  {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;

    &__wrapper {

      @media (min-width: $mobile-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        min-height: 364px;
        width: 90%;
        margin: 0 auto;
      }

      @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 90%;
        min-height: 340px;
        text-align: center;
      }

      @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        min-height: 410px;
      }
    }


    &__list {
     @include list();
    }

    &__name {
     font-size: 18px;
     font-weight: bold;
     color: $black;
    }

    &__content {
     font-size: 14px;
    }

    &__legend {

      @media (min-width: $mobile-width) {
        display: none;
      }

      @media (min-width: $tablet-width) {
        display: block;
      }

      @media (min-width: $desktop-width) {
        display: block;
      }
    }

}

.slider__toggle {

  @media (min-width: $mobile-width) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__toggles {

  @media (min-width: $mobile-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 60px;
  }

}
