.reviews  {
  line-height: 30px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 auto;

      @media (min-width: $mobile-width) {
        min-height: 344px;
        width: 90%;
      }

      @media (min-width: $tablet-width) {
        width: 90%;
        min-height: 280px;
      }

      @media (min-width: $desktop-width) {
        width: 80%;
        min-height: 410px;
      }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__list {
  @include list();
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 75%;
  }

  &--wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 165px;
    }
    @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: flex-start;
      width: 90%;
      margin: 0 auto;
    }
  }
}

.reviews__content {
  font-size: 14px;
  margin: 0;

  @media (max-width: $mobile-width) {
    order: 1;
    margin-top: 1em;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 2em;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-bottom: 0;
  }
}

.reviews__name {
  font-size: 18px;
  font-weight: bold;
  color: $black;

  @media (max-width: $mobile-width) {
    order: 0;
    margin-top: 0.8em;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 1em;
  }
}

.reviews__legend {

  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

}

.reviews__toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $mobile-width) {
    width: 4em;
    padding-bottom: 1.5em;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

}

.reviews__toggle {
  position: absolute;
  z-index: -1;
  opacity: 0;
  }

.reviews__toggle + label::before {

  @media (min-width: $mobile-width) {
  content:'';
  display: block;
  width: 6px;
  height: 6px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $grey;
  border-radius: 50%;
  background-color: $dark;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6'%3e%3ccircle r='3' opacity='0.3' fill='%23283645'/%3e%3c/svg%3e");
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__toggle:checked + label::before {
  opacity: 1;
  border: 3px solid $dark;
  background-color: $white;
}

.reviews__toggle + label::before:hover {
  background-color: $dark;
  opacity: 0.6;
}

.reviews__toggle:checked + label::before:hover {
  opacity: 1;
  border: 3px solid $dark;
  background-color: $white;
}

.reviews__toggle + label::before:active {
  background-color: $dark;
  opacity: 0.1;
}

.reviews__toggle:checked + label::before:active {
  opacity: 1;
  border: 3px solid $dark;
  background-color: $white;
}


.reviews__toggle {

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__svg-icon {

  &--blockquote {

  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 3em;
    margin-top: 3em;
  }
 }

 &--left,
 &--right {

   @media (min-width: $mobile-width) {
     display: none;
   }

   @media (min-width: $tablet-width) {
     display: none;
   }

   @media (min-width: $desktop-width) {
     display: block;
     margin-top: 2.2em;
     cursor: pointer;
   }
  }
}

.reviews__svg-icon--left,
.reviews__svg-icon--right {
  fill: transparentize($dark, 0.7);
}

.reviews__svg-icon--left:hover,
.reviews__svg-icon--right:hover {
  fill: transparentize($dark, 0.4);
}

.reviews__svg-icon--left:active,
.reviews__svg-icon--right:active {
  fill: transparentize($dark, 0.9);
}

